In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from tqdm import tqdm
tqdm.pandas()

import ast
import json
import os
import math
import string
import re

from itertools import combinations
from scipy.stats import kendalltau, spearmanr
import rbo

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [33]:
table2 = pd.read_csv('../cobbler_table2.csv', header=0)

In [34]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   135 non-null    object
 1   size    135 non-null    object
 2   bias    135 non-null    object
 3   score   135 non-null    float64
 4   valid   120 non-null    float64
dtypes: float64(2), object(3)
memory usage: 5.4+ KB

In [35]:
bias_type = table2.bias.unique().tolist()

In [36]:
bias_type

['bandwagon',
 'compassion_first',
 'compassion_last',
 'egocentric_comp',
 'distraction',
 'order_first',
 'order_last',
 'egocentric_order',
 'salience']

In [37]:
table2

          model   size       bias     score     valid
0        alpaca   >10B  bandwagon  0.745905  0.979238
1         baize   <10B  bandwagon  0.814667  0.997333
2       chatgpt  >100B  bandwagon  0.855429  0.999429
3        cohere   >40B  bandwagon  0.820381  1.000000
4          gpt4  >100B  bandwagon  0.091238  0.991810
..          ...    ...        ...       ...       ...
130         mpt   <10B   salience  0.634787       NaN
131  openassist   >10B   salience  0.491421       NaN
132   redpajama   <10B   salience  0.523747       NaN
133      vicuna   >10B   salience  0.525535       NaN
134    wizardlm   <10B   salience  0.530627       NaN

[135 rows x 5 columns]

In [38]:
# Load your data
df = pd.read_csv('../cobbler_table2.csv')
print(df)

# Run ANOVA
model = ols('score ~ C(model)', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

          model   size       bias     score     valid
0        alpaca   >10B  bandwagon  0.745905  0.979238
1         baize   <10B  bandwagon  0.814667  0.997333
2       chatgpt  >100B  bandwagon  0.855429  0.999429
3        cohere   >40B  bandwagon  0.820381  1.000000
4          gpt4  >100B  bandwagon  0.091238  0.991810
..          ...    ...        ...       ...       ...
130         mpt   <10B   salience  0.634787       NaN
131  openassist   >10B   salience  0.491421       NaN
132   redpajama   <10B   salience  0.523747       NaN
133      vicuna   >10B   salience  0.525535       NaN
134    wizardlm   <10B   salience  0.530627       NaN

[135 rows x 5 columns]
            sum_sq     df         F    PR(>F)
C(model)  1.658140   14.0  2.027726  0.020939
Residual  7.009148  120.0       NaN       NaN